name: remove-retractions-from-catalog

on: 
  workflow_dispatch:
  schedule:
    - cron: 0 3 * * *

jobs:
  auth-filter-upload:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v2
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.6.0'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: >
          pip install gcsfs tqdm pandas
      - id: 'upload-script'
        run: python create_filtered_catalog.py
      - id: 'save-missing-instances'
        uses: actions/upload-artifact@v2
        with:
          name: missing-instance-ids
          path: missing_instance_ids_*.csv
